<!doctype html>
<html class="no-js"  lang="en">

	<head>
		<!-- META DATA -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

		<!-- TITLE OF SITE -->
		<title><%= title %></title>

		<!-- favicon img -->
		<link rel="shortcut icon" type="image/icon" href="/images/logo/favicon.png"/>

		<!--font-awesome.min.css-->
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />

		<!--animate.css-->
		<link rel="stylesheet" href="/stylesheets/animate.css" />

		<!--hover.css-->
		<link rel="stylesheet" href="/stylesheets/hover-min.css">

		<!--datepicker.css-->
		<link rel="stylesheet"  href="/stylesheets/datepicker.css" >

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
		<link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css"/>

		<!-- range css-->
        <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" />

		<!--bootstrap.min.css-->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

		<!-- bootsnav -->
		<link rel="stylesheet" href="/stylesheets/bootsnav.css"/>

		<!--style.css-->
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<!--responsive.css-->
		<link rel="stylesheet" href="/stylesheets/responsive.css" />
		
	</head>

	<body>


		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="/">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Home</a></li>
										<li class="smooth-menu"><a href="#gallery">Hình ảnh</a></li>
										<li class="smooth-menu"><a href="#pack">Ẩm Thực</a></li>
										<li class="smooth-menu"><a href="#blog">Tin Tức</a></li>
										<li class="smooth-menu"><a href="#subs">Liên Lạc</a></li>
										<li>
											<button class="book-btn"><a href="/login/signin">Đăng nhập</a>
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		
		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										<%= title2 %>
									</h2>
									<div class="about-btn">
										<button  class="about-view">
											Khám phá ngay
										</button>
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
								<!-- Tab panes -->

							</div><!--/.desc-tabs-->
        				</div><!--/.single-travel-box-->
        			</div><!--/.col-->
        		</div><!--/.row-->
        	</div><!--/.container-->

        </section><!--/.travel-box-->

        <!--service start-->
		<section id="service" class="service">
			<div class="container">

				<div class="service-counter text-center">

					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s1.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="/hinh-anh">
									Hình ảnh tuyệt đẹp
									</a>
								</h2>
								<p>TourNest mang lại cho bạn 1 kho ảnh đẹp về nhiều nơi trên thế giới.</p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s2.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="#">
										Những khách sạn hàng đầu
									</a>
								</h2>
								<p>Tư vấn cho bạn những khách sạn nổi tiếng phù hợp với túi tiền.</p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="statistics-img">
								<img src="/images/service/s3.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">

								<h2>
									<a href="#">
										Cách đặt vé máy bay online
									</a>
								</h2>
								<p>Đặt vé máy bay online ư? tại sao không?.</p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--galley start-->
		<section id="gallery" class="gallery">
			<div class="container">
				<div class="gallery-details">
					<div class="gallary-header text-center">
						<h2>
							Top những hình ảnh đẹp
						</h2>
						<p>
							Mời bạn chiêm ngưỡng vẻ đẹp của thế giới
						</p>
					</div><!--/.gallery-header-->
					<div class="gallery-box">
						<div class="gallery-content">
						  	<div class="filtr-container">
						  		<div class="row">

						  			<div class="col-md-6">
						  				<div class="filtr-item">
											<img src="/images/gallary/g1VN.jpg" style="height:300px;width:550px" alt="Ảnh Việt Nam"/>
											<div class="item-title">
												<a href="/hinh-anh/VN">
													Việt Nam
												</a>
												<p>11 hình</p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-6">
						  				<div class="filtr-item">
											<img src="/images/gallary/g2JP.jpg" style="height:300px;width:550px" alt="Ảnh Nhật Bản"/>
											<div class="item-title">
												<a href="/hinh-anh/jp">
													Nhật bản
												</a>
												<p>5 hình</p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
											<img src="/images/gallary/g3TQ.jpg" style="height:650px;width:350px" alt="Ảnh Trung Quốc"/>
											<div class="item-title">
												<a href="#">
													Trung Quốc
												</a>
												<p>6 hình</p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
											<img src="/images/gallary/g4Uc.jpg" style="height:300px;width:350px" alt="Ảnh Úc"/>
											<div class="item-title">
												<a href="#">
													Australia (Úc)
												</a>
												<p>4 Hình</p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
											<img src="/images/gallary/g5HQ.jpg" style="height:300px;width:350px" alt="Ảnh Hàn Quốc"/>
											<div class="item-title">
												<a href="#">
													Hàn Quốc
												</a>
												<p>3 Hình</p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-8">
						  				<div class="filtr-item">
											<img src="/images/gallary/g6TL.jpg" style="height:300px;width:750px" alt="Ảnh Thái Lan"/>
											<div class="item-title">
												<a href="#">
													Thái Lan
												</a>
												<p>6 Hình</p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  		</div><!-- /.row -->

						  	</div><!-- /.filtr-container-->
						</div><!-- /.gallery-content -->
					</div><!--/.galley-box-->
				</div><!--/.gallery-details-->
			</div><!--/.container-->

		</section><!--/.gallery-->
		<!--gallery end-->


		<!--discount-offer start-->
		<section class="discount-offer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="dicount-offer-content text-center">
							<h2>Xả ảnh cực chất</h2>
							<div class="campaign-timer">
								<div id="timer">
									<div class="time time-after" id="days">
										<span></span>
									</div><!--/.time-->
									<div class="time time-after" id="hours">

									</div><!--/.time-->
									<div class="time time-after" id="minutes">

									</div><!--/.time-->
									<div class="time" id="seconds">

									</div><!--/.time-->
								</div><!--/.timer-->
							</div><!--/.campaign-timer-->
							<div class="about-btn">
								<button  class="about-view discount-offer-btn">
									<a href='#'>
									Khám phá ngay
									</a>
								</button>
							</div><!--/.about-btn-->


						</div><!-- /.dicount-offer-content-->
					</div><!-- /.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

		</section><!-- /.discount-offer-->
		<!--discount-offer end-->

		<!--packages start-->
		<section id="pack" class="packages">
			<div class="container">
				<div class="gallary-header text-center">
					<h2>
						Ẩm thực
					</h2>
					<p>
						Chiêm ngưỡng và note ngay cho mình những món ăn đặc sắc nào !!!
					</p>
				</div><!--/.gallery-header-->
				<div class="packages-content">
					<div class="row">

						<% for(let i = 0 ; i < databaseAmThuc.length ; i++){ %>
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="<%= databaseAmThuc[i].src %>" style="width:370px;height:280px" alt="package-place">
								<div class="single-package-item-txt">
									<h3><%= databaseAmThuc[i].name %></h3>
									<div class="packages-para">
										<p></p>
									</div>
									<div class="about-btn">
										<button  class="about-view packages-btn">
											<a href="<%= databaseAmThuc[i].linkto %>">
											Chi tiết
											</a>
										</button>
									</div>
								</div>
							</div>
						</div>
						<% }%>				
					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->

		</section><!--/.packages-->
		<!--packages end-->

		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">

				<div class="gallary-header text-center">
					<h2>
						clients reviews
					</h2>
					<p>
						Không có gì để ghi
					</p>

				</div><!--/.gallery-header-->

				<div class="owl-carousel owl-theme" id="testemonial-carousel">

					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="/images/client/per3.png" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									Tập code được 3 ngày
								</p>
								<h3>
									<a href="#">
										Võ Trung Nam
									</a>
								</h3>
								<h4>Đâu đó trên thế giới</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->

					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="/images/client/per2.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									Tập code
								</p>
								<h3>
									<a href="#">
										Hotaru
									</a>
								</h3>
								<h4>HN, VN</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->

					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="/images/client/per1.png" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									ZzzZzzZ
								</p>
								<h3>
									<a href="#">
										Futaru
									</a>
								</h3>
								<h4>HCM, VN</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->

					</div><!--/.item-->
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

		</section><!--/.testimonial-->	
		<!-- testemonial End -->


		<!--special-offer start-->
		

		<!--blog start-->
		<section id="blog" class="blog">
			<div class="container">
				<div class="blog-details">
						<div class="gallary-header text-center">
							<h2>
								Tin tức mới
							</h2>
							<p>
								Du lịch khắp thế giới
							</p>
						</div><!--/.gallery-header-->
						<div class="blog-content">
							<div class="row">
								<% for(let i = 0 ; i < 3 ; i++){ %>
									<div class="col-sm-4 col-md-4">
										<div class="thumbnail">
											<h2>tin mới <span><%= databaseTT[i].ngay %></span></h2>
											<div class="thumbnail-img">
												<img src="<%= databaseTT[i].hinhminhhoa %>" style="width:370px;height:220px" alt="blog-img">
												<div class="thumbnail-img-overlay"></div>
											</div>
											<div class="caption">
												<div class="blog-txt">
													<h3>
														<a href="<%= databaseTT[i].linkto %>">
															<%= databaseTT[i].titleTT %>
														</a>
													</h3>
													<p>
														<%= databaseTT[i].mota %>
													</p>
													<a href="<%= databaseTT[i].linkto %>">Đọc thêm</a>
												</div><!--/.blog-txt-->
											</div><!--/.caption-->
										</div>
									</div>
								<% }%>				

							</div><!--/.row-->
						</div><!--/.blog-content-->
					</div><!--/.blog-details-->
				</div><!--/.container-->

		</section><!--/.blog-->
		<!--blog end-->

		
		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Nhập email của bạn để cập nhật nhanh nhất những thông tin mà chúng tôi cung cấp
					</h2>
					<p>
						
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Đồng ý</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->

		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">
		
						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="/">
										tour<span>Nest</span>
									</a>
									<p>
										Đồng hành cùng bạn
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->
		
						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#home">home</a></p>
									<p><a href="#gallery">Hình Ảnh</a></p>
									<p><a href="#pack">Ẩm thực</a></p>
									<p><a href="#blog">tin tức</a></p>
									<p><a href="#subs">Liên Lạc</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
		
						</div><!--/.col-->
		
						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>Hình ảnh</h2>
								<div class="single-footer-txt">
									<p><a href="/vn">việt nam</a></p>
									<p><a href="/">nhật bản</a></p>
									<p><a href="/">trung quốc</a></p>
									<p><a href="/">australia (Úc)</a></p>
									<p><a href="/">Hàn Quốc</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->
		
						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">Liên hệ với chúng tôi</h2>
								<div class="single-footer-txt text-left">
									<p>070319xxxx</p>
									<p class="foot-email"><a href="#">tourNest@notExist.com</a></p>
									<p>Trái Đất</p>
									<p>Thiên hà Milky Way</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->
		
					</div><!--/.row-->
		
				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
						<li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<p>&copy; 8/2020 . All Right Reserved</p>
		
				</div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->
		
		</footer><!-- /.footer-copyright-->




		<script src="/javascripts/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->

		<!--modernizr.min.js-->
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


		<!--bootstrap.min.js-->
		<script  src="/javascripts/bootstrap.min.js"></script>

		<!-- bootsnav js -->
		<script src="/javascripts/bootsnav.js"></script>

		<!-- jquery.filterizr.min.js -->
		<script src="/javascripts/jquery.filterizr.min.js"></script>

		<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!--jquery-ui.min.js-->
        <script src="/javascripts/jquery-ui.min.js"></script>

        <!-- counter js -->
		<script src="/javascripts/jquery.counterup.min.js"></script>
		<script src="/javascripts/waypoints.min.js"></script>

		<!--owl.carousel.js-->
        <script  src="/javascripts/owl.carousel.min.js"></script>

        <!-- jquery.sticky.js -->
		<script src="/javascripts/jquery.sticky.js"></script>

        <!--datepicker.js-->
        <script  src="/javascripts/datepicker.js"></script>

		<!--Custom JS-->
		<script src="/javascripts/custom.js"></script>


	</body>

</html>